apiVersion: 1

datasources:
  - name: PostgreSQL
    type: postgres
    access: proxy
    url: cdb_postgres:5432
    database: claire_de_binare
    user: claire_user
    secureJsonData:
      password: $__env{POSTGRES_PASSWORD}
    jsonData:
      sslmode: disable
      maxOpenConns: 10
      maxIdleConns: 2
      connMaxLifetime: 14400
      postgresVersion: 1500
      timescaledb: false
    editable: true
